<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
    <meta charset="UTF-8">
    <title>Jack's Personal Website 🔥</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&display=swap" rel="stylesheet">
  </head>
  <!-- BODY -->
  <body>
    <!-- Top -->
    <div class="top-container">
      <img class = "top-cloud" src="static/cloud.png" alt="A cartoon cloud.">
      <h1>Welcome</h1>
      <p>What are you looking for?</p>
      <img class="bottom-cloud" src="static/cloud.png" alt="A cartoon cloud.">
      <img src="static/mountain.png" alt="A cartoon mountain.">
    </div>
    <!-- Middle -->
    <div class="middle-container">
      <div class="profile">
        <img src="static/MyPicture.jpg" alt="Picture of me">
        <h2>Hello.</h2>
        <p>Lorem ipsum dolor sit amet, vitae volutpat, dui conubia, dolor urna. Non auctor, montes nulla distinctio.</p>
      </div>
      <hr>
    </div>

    <!-- Links -->
    <ul>
      <li> <a href="CodingHelp/CodingHelp.html"> Coding help </a>
      <li> <a href="SiteInfo.html"> Site info </a>
      <li> <a href="Entertainment/Entertainment.html"> Boredom relief </a>
      <li> <a href="MyResume.html"> See my resume </a>
      <li> <a href="Contact.html"> Send me a message </a>
    </ul>
  </body>
</html>